<div id="ghost-payments-content" style="display: none; max-widht: 240px">
  <div class="cart-drawer__top">
    <div class="h-stack items-center justify-between">
      <div class="h-stack grow gap-2 sm:gap-2.5">
        <p class="h5">Formas de pagamento</p>
      </div>
      <button type="button" is="close-button" class="drawer__close-icon" style="z-index: 99;">
        <span class="sr-only">{{ 'general.accessibility.close' | t }}</span>
        {%- render 'icon' with 'close' -%}
      </button>
    </div>
  </div>
  <div>
    
    <style>
      .payment-methods__accordion-content {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: var(--spacing-6);
        font-size: var(--text-sm);
        width: 100%;
        padding-inline-end: 0;
        margin-top: var(--spacing-1);
      }   .payment-methods__accordion-content .payment-list__items {
            justify-content: start;
          }
          @media (max-width: 699px){
            .payment-methods__accordion-content {
              grid-template-columns: repeat(1, minmax(0, 1fr));
            }
          }
      .payment-methods__table-content {
      }   .payment-methods__table-content th, td {
            padding-inline-start: var(--spacing-4)!important;
            padding-inline-end: var(--spacing-4)!important;
            padding-block-start: var(--spacing-3);
            padding-block-end: var(--spacing-3);
            border: none !important;
            border-radius: var(--rounded-sm);
          }
          .payment-methods__table-content > thead td {
            font-weight: 600;
          }
          .payment-methods__table-content > thead tr {
            background-color: transparent!important;
          }
          .payment-methods__table-content td:nth-child(even) {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
          }
          .payment-methods__table-content td:nth-child(odd) {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
          }
          .payment-methods__table-content tr:nth-child(odd) {
            background-color: #8080801a;
          }
      .sem-juros {
        color: {{ settings.methods_payment_color_sem_juros }};
        font-size: var(--text-sm);
        margin-left: var(--spacing-0-5);
      }
    </style>
    <form id="" is="" section-id="" update-on-change="" method="GET" action="" class="facets-vertical">
      <details id="" class=" accordion  group" aria-expanded="false" is="accordion-disclosure">
        <summary>
          <div class="accordion__toggle">
            <div style="display: flex; flex-direction: row; align-items: center; gap: var(--spacing-1);">
              {%- render 'icon' with 'picto-credit-card', width: '18px', height: '18px' -%}
              <span>Cartão de crédito</span>
            </div>
            <span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate">
              <svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6"><path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path></svg>
            </span>
          </div>
        </summary>
        <div class="accordion__content payment-methods__accordion-content">
          <div class="prose" style="{% if settings.methods_payment_show_bandeiras_aceitas == false and settings.methods_payment_show_compra_segura == false %}grid-column: span 6 / span 6;{% else %}grid-column: span 4 / span 4;{% endif %}">
            <table class="table-auto payment-methods__table-content">
              <thead>
                <tr>
                  <td>Parcela</td>
                  <td>Total</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>À vista {% if settings.semjuros_parcelamento >= 1 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-a-vista">{{ product.price | money  }}</span></td>
                </tr>
                <tr>
                  <td>2x <span class="total-2x"></span> {% if settings.semjuros_parcelamento >= 2 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-2x"></span></td>
                </tr>
                <tr>
                  <td>3x <span class="total-3x"></span> {% if settings.semjuros_parcelamento >= 3 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-3x"></span></td>
                </tr>
                <tr>
                  <td>4x <span class="total-4x"></span> {% if settings.semjuros_parcelamento >= 4 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-4x"></span></td>
                </tr>
                <tr>
                  <td>5x <span class="total-5x"></span> {% if settings.semjuros_parcelamento >= 5 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-5x"></span></td>
                </tr>
                <tr>
                  <td>6x <span class="total-6x"></span> {% if settings.semjuros_parcelamento >= 6 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-6x"></span></td>
                </tr>
                <tr>
                  <td>7x <span class="total-7x"></span> {% if settings.semjuros_parcelamento >= 7 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-7x"></span></td>
                </tr>
                <tr>
                  <td>8x <span class="total-8x"></span> {% if settings.semjuros_parcelamento >= 8 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-8x"></span></td>
                </tr>
                <tr>
                  <td>9x <span class="total-9x"></span> {% if settings.semjuros_parcelamento >= 9 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-9x"></span></td>
                </tr>
                <tr>
                  <td>10x <span class="total-10x"></span> {% if settings.semjuros_parcelamento >= 10 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-10x"></span></td>
                </tr>
                <tr>
                  <td>11x <span class="total-11x"></span> {% if settings.semjuros_parcelamento >= 11 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-11x"></span></td>
                </tr>
                <tr>
                  <td>12x <span class="total-12x"></span> {% if settings.semjuros_parcelamento >= 12 %}<small class="sem-juros">Sem juros</small>{% endif %}</td>
                  <td><span class="total-parcelado-12x"></span></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="prose" style="{% if settings.methods_payment_show_bandeiras_aceitas == false and settings.methods_payment_show_compra_segura == false %}grid-column: span 0 / span 0;{% else %}grid-column: span 2 / span 2;{% endif %}">
            {% if settings.methods_payment_show_compra_segura %}
            <div>
              <p class="h5">{{ settings.methods_payment_title_compra_segura }}</p>
              <p>{{ settings.methods_payment_paragraph_compra_segura }}</p>
            </div>
            <hr style="margin: var(--spacing-8) 0;">
            {% endif %}
            {% if settings.methods_payment_show_bandeiras_aceitas %}
            <div>
              <p class="h5">{{ settings.methods_payment_title_bandeiras_aceitas }}</p>
              <p>{{ settings.methods_payment_paragraph_bandeiras_aceitas }}</p>
              <div class="payment-list__items">
                {% assign payment_mode = settings.payment_mode %}
                {% if payment_mode == 'external' %}
                  {% if settings.payments_visa %}
                    <img src="{{ 'visa.svg' | asset_url }}" alt="Visa" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_mastercard %}
                    <img src="{{ 'mastercard.svg' | asset_url }}" alt="Mastercard" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_americanexpress %}
                    <img src="{{ 'amex.svg' | asset_url }}" alt="American Express" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_dinnersclub %}
                    <img src="{{ 'card-3.svg' | asset_url }}" alt="DinnersClub" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_discovery %}
                    <img src="{{ 'discover.svg' | asset_url }}" alt="Discover" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_hipercard %}
                    <img src="{{ 'hipercard.svg' | asset_url }}" alt="Hipercard" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_elo %}
                    <img src="{{ 'elo.svg' | asset_url }}" alt="Elo" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_pix %}
                    <img src="{{ 'pix.svg' | asset_url }}" alt="PIX" width="50px" height="32.5px" loading="lazy">
                  {% endif %}
                  {% if settings.payments_boleto %}
                  <div class="payment-list__item" style="margin: 0">
                    <img class="payment-list__img" style="margin: 0" height="auto" width="auto" alt="Boleto"
                      src="https://cdn.shopify.com/s/files/1/0706/7467/7999/files/boleto.webp?v=1734803427">
                  </div>
                  {% endif %}
                {% elsif payment_mode == 'shopify' %}
                {%- for type in shop.enabled_payment_types -%}
                  {{- type | payment_type_svg_tag -}}
                {%- endfor -%}
                {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
          
        </div>
      </details>
      <details id="" class=" accordion  group" aria-expanded="false" is="accordion-disclosure">
        <summary>
          <div class="accordion__toggle">
            <div style="display: flex; flex-direction: row; align-items: center; gap: var(--spacing-1);">
              {%- render 'icon' with 'pix', width: '18px', height: '18px' -%}
              <span>PIX</span>
              <div class="badge badge--on-sale" style="margin-left: 2px">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down" style="width: 14px; height: 14px;"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
                {{ settings.pix_desconto_valor}}%&nbsp;
              </div>
            </div>
            <span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate">
              <svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6"><path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path></svg>
            </span>
          </div>
        </summary>
        <div class="accordion__content prose">
          <div>
            {% assign preco = product.price %}
            {% assign desconto_pix = preco | times: settings.pix_desconto_valor | divided_by: 100 %}
            {% assign preco_pix = preco | minus: desconto_pix %}
            <p class="h4 pixValue" style="color: {{ settings.methods_payment_color_pix }}">
                R$ {{ preco_pix | money }} no PIX
            </p>
            {% unless settings.methods_payment_step1_pix == blank and settings.methods_payment_step2_pix == blank and settings.methods_payment_step3_pix == blank %}
              {% unless settings.methods_payment_title_pix == blank %}
                <p class="semibold">{{ settings.methods_payment_title_pix }}</p>
              {% endunless %}
            {% endunless %}
            {% unless settings.methods_payment_step1_pix == blank %}
              <div class="info-payment_content">
                <span class="info-payment_number">1</span>
                <span>{{ settings.methods_payment_step1_pix }}</span>
              </div>
            {% endunless %}
            {% unless settings.methods_payment_step2_pix == blank %}
              <div class="info-payment_content">
                <span class="info-payment_number">2</span>
                <span>{{ settings.methods_payment_step2_pix }}</span>
              </div>
            {% endunless %}
            {% unless settings.methods_payment_step3_pix == blank %}
              <div class="info-payment_content">
                <span class="info-payment_number">3</span>
                <span>{{ settings.methods_payment_step3_pix }}</span>
              </div>
            {% endunless %}
          </div>
        </div>
        <style>
          .info-payment_number {
            background-color: #8080801a;
            display: flex;
            width: 26px;
            min-width: 26px;
            height: 26px;
            border-radius: var(--rounded-full);
            line-height: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .info-payment_content {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2);
          }
        </style>
      </details>
      <details id="" class=" accordion  group" aria-expanded="false" is="accordion-disclosure">
        <summary>
          <div class="accordion__toggle">
            <div style="display: flex; flex-direction: row; align-items: center; gap: var(--spacing-1);">
              {%- render 'icon' with 'barcode', width: '28px', height: '18px' -%}
              <span>Boleto</span>
            </div>
            <span class="circle-chevron group-hover:colors group-expanded:colors group-expanded:rotate">
              <svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small" viewBox="0 0 8 6"><path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path></svg>
            </span>
          </div>
        </summary>
        <div class="accordion__content prose">
          <div>
            <p class="h4">{{ preco | money }} à vista</p>
            {% unless settings.methods_payment_step1_boleto == blank and settings.methods_payment_step2_boleto == blank and settings.methods_payment_step3_boleto == blank %}
              {% unless settings.methods_payment_title_boleto == blank %}
                <p class="semibold">{{ settings.methods_payment_title_boleto }}</p>
              {% endunless %}
            {% endunless %}
            {% unless settings.methods_payment_step1_boleto == blank %}
              <div class="info-payment_content">
                <span class="info-payment_number">1</span>
                <span>{{ settings.methods_payment_step1_boleto }}</span>
              </div>
            {% endunless %}
            {% unless settings.methods_payment_step2_boleto == blank %}
              <div class="info-payment_content">
                <span class="info-payment_number">2</span>
                <span>{{ settings.methods_payment_step2_boleto }}</span>
              </div>
            {% endunless %}
            {% unless settings.methods_payment_step3_boleto == blank %}
              <div class="info-payment_content">
                <span class="info-payment_number">3</span>
                <span>{{ settings.methods_payment_step3_boleto }}</span>
              </div>
            {% endunless %}
          </div>
        </div>
      </details>
    </form>
    
  </div>
</div>

<script>
   function toggleModalOn() {
       var cifrao = "R$";

       // Obtém o preço do produto
       const precoText = document.querySelector('sale-price').textContent;
       const preco = parseFloat(precoText.replace(/[^\d,]/g, '').replace(',', '.'));

       // Formata números para o padrão brasileiro
       var formatNumber = function (num) {
           return num.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
       };

       // Preço à vista, boleto e PIX
       var preco_a_vista = formatNumber(preco);
       var preco_boleto = formatNumber(preco);
       var preco_pix = formatNumber(preco - (preco * {{ settings.pix_desconto_valor}} / 100));
       $(".pixValue").text(cifrao + ' ' + formatNumber(preco_pix));
       // Obtém o número de parcelas sem juros
       var parcelasSemJuros = {{ settings.semjuros_parcelamento }};

       // Cálculo das parcelas
       var total_x2 = (2 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_segunda_parcela }}) / 100);
       var total_x3 = (3 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_terceira_parcela }}) / 100);
       var total_x4 = (4 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_quarta_parcela }}) / 100);
       var total_x5 = (5 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_quinta_parcela }}) / 100);
       var total_x6 = (6 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_sexta_parcela }}) / 100);
       var total_x7 = (7 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_setima_parcela }}) / 100);
       var total_x8 = (8 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_oitava_parcela }}) / 100);
       var total_x9 = (9 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_nona_parcela }}) / 100);
       var total_x10 = (10 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_decima_parcela }}) / 100);
       var total_x11 = (11 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_decima_primeira_parcela }}) / 100);
       var total_x12 = (12 <= parcelasSemJuros) ? preco : preco + ((preco * {{ settings.taxa_decima_segunda_parcela }}) / 100);

       // Cálculo do valor de cada parcela
       var x2 = formatNumber(total_x2 / 2);
       var x3 = formatNumber(total_x3 / 3);
       var x4 = formatNumber(total_x4 / 4);
       var x5 = formatNumber(total_x5 / 5);
       var x6 = formatNumber(total_x6 / 6);
       var x7 = formatNumber(total_x7 / 7);
       var x8 = formatNumber(total_x8 / 8);
       var x9 = formatNumber(total_x9 / 9);
       var x10 = formatNumber(total_x10 / 10);
       var x11 = formatNumber(total_x11 / 11);
       var x12 = formatNumber(total_x12 / 12);

       // Atualiza os valores na interface
       $(".total-a-vista").text(cifrao + ' ' + preco_a_vista);

       $(".total-parcelado-2x").text(cifrao + ' ' + formatNumber(total_x2));
       $(".total-parcelado-3x").text(cifrao + ' ' + formatNumber(total_x3));
       $(".total-parcelado-4x").text(cifrao + ' ' + formatNumber(total_x4));
       $(".total-parcelado-5x").text(cifrao + ' ' + formatNumber(total_x5));
       $(".total-parcelado-6x").text(cifrao + ' ' + formatNumber(total_x6));
       $(".total-parcelado-7x").text(cifrao + ' ' + formatNumber(total_x7));
       $(".total-parcelado-8x").text(cifrao + ' ' + formatNumber(total_x8));
       $(".total-parcelado-9x").text(cifrao + ' ' + formatNumber(total_x9));
       $(".total-parcelado-10x").text(cifrao + ' ' + formatNumber(total_x10));
       $(".total-parcelado-11x").text(cifrao + ' ' + formatNumber(total_x11));
       $(".total-parcelado-12x").text(cifrao + ' ' + formatNumber(total_x12));

       $("#total-boleto").text(cifrao + ' ' + preco_a_vista);
       $("#total-pix").text(cifrao + ' ' + preco_pix);

       $(".total-2x").text(cifrao + ' ' + x2);
       $(".total-3x").text(cifrao + ' ' + x3);
       $(".total-4x").text(cifrao + ' ' + x4);
       $(".total-5x").text(cifrao + ' ' + x5);
       $(".total-6x").text(cifrao + ' ' + x6);
       $(".total-7x").text(cifrao + ' ' + x7);
       $(".total-8x").text(cifrao + ' ' + x8);
       $(".total-9x").text(cifrao + ' ' + x9);
       $(".total-10x").text(cifrao + ' ' + x10);
       $(".total-11x").text(cifrao + ' ' + x11);
       $(".total-12x").text(cifrao + ' ' + x12);
   }
</script>

<cart-drawer
  {% if request.design_mode %}
    handle-section-events
  {% endif %}
  class="cart-drawer drawer drawer--lg"
  id="cart-drawer"
>
  {%- if cart.item_count == 0 -%}
    <button is="close-button" aria-label="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>
    <div class="empty-state align-self-center">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'cart', width: 32, height: 32, stroke_width: 1 -%}
        <span class="count-bubble count-bubble--lg">0</span>
      </div>
      <div class="prose">
        <p class="h5">{{ 'cart.general.empty' | t }}</p>
        {%- assign button_content = 'cart.general.continue_shopping' | t -%}
        {%- render 'button', href: settings.cart_empty_button_link, size: 'xl', content: button_content -%}
      </div>
    </div>
  {%- else -%}
    <div>
      <div class="cart-drawer__top">
        <div class="h-stack items-center justify-between">
          <div class="h-stack grow gap-2 sm:gap-2.5">
            <p class="h5">{{- 'cart.general.title' | t -}}</p>
            <cart-count class="count-bubble count-bubble--md">{{ cart.item_count }}</cart-count>
          </div>
          <button type="button" is="close-button" class="drawer__close-icon" style="z-index: 99;">
            <span class="sr-only">{{ 'general.accessibility.close' | t }}</span>
            {%- render 'icon' with 'close' -%}
          </button>
        </div>
        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- render 'free-shipping-bar' -%}
        {%- endif -%}
      </div>
      <div class="v-stack gap-6 sm:gap-8">
        <div class="cart-drawer__line-items">
          {%- for line_item in cart.items -%}
            {%- render 'line-item-2', line_item: line_item, show_desktop_quantity: true -%}
          {%- endfor -%}
        </div>
        {%- if section.settings.products.count > 0 -%}
          <div class="cart-drawer__recommendations">
            <div class="v-stack gap-2.5 sm:gap-4">
              {%- capture carousel_id -%}cart-drawer-recommendations{%- endcapture -%}
              {%- if section.settings.recommendations_title != blank or section.settings.products.count > 1 -%}
                <div class="h-stack justify-between gap-4">
                  {%- if section.settings.recommendations_title != blank -%}
                    <p>{{ section.settings.recommendations_title | escape }}</p>
                  {%- endif -%}
                  {%- if section.settings.products.count > 1 -%}
                    <div class="h-stack gap-2 hidden sm:flex">
                      <button
                        is="prev-button"
                        class="circle-chevron hover:colors"
                        aria-controls="{{ carousel_id }}"
                        aria-label="{{ 'general.accessibility.previous' | t | escape }}"
                        disabled
                      >
                        {%- render 'icon' with 'chevron-left-small', direction_aware: true -%}
                      </button>
                      <button
                        is="next-button"
                        class="circle-chevron hover:colors"
                        aria-controls="{{ carousel_id }}"
                        aria-label="{{ 'general.accessibility.next' | t | escape }}"
                      >
                        {%- render 'icon' with 'chevron-right-small', direction_aware: true -%}
                      </button>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- assign horizontal_products_blends = true -%}
              {%- assign product_card_background = section.settings.product_card_background
                | default: product.settings.product_card_background
              -%}
              {%- if product_card_background != 'rgba(0,0,0,0)'
                and product_card_background != blank
                and product_card_background != settings.dialog_background
              -%}
                {%- assign horizontal_products_blends = false -%}
              {%- endif -%}
              <scroll-carousel
                selector=".horizontal-product"
                id="{{ carousel_id }}"
                class="horizontal-product-list-carousel {% unless horizontal_products_blends %}separate{% endunless %} scroll-area bleed"
              >
                <div class="horizontal-product-list {% if horizontal_products_blends %}divide-x{% else %}separate{% endif %}">
                  {%- for recommended_product in section.settings.products -%}
                    {%- render 'horizontal-product',
                      product: recommended_product,
                      show_add_to_cart: true,
                      background: section.settings.product_card_background,
                      text_color: section.settings.product_card_text_color
                    -%}
                  {%- endfor -%}
                </div>
              </scroll-carousel>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="v-stack gap-4 sm:gap-6" slot="footer">
      <div class="v-stack gap-1">
        {% for discount_application in cart.cart_level_discount_applications %}
          <div class="h-stack gap-4 justify-between">
            <div class="badge">
              {%- render 'icon' with 'discount' -%}
              {{- discount_application.title -}}
            </div>
            <span class="text-subdued">-{{ discount_application.total_allocated_amount | money }}</span>
          </div>
        {% endfor %}
        <div class="total-subtotal">
          <div class="subtotal">
            <h1>Subtotal</h1>
            <h1>{{- cart.total_price | money -}}</h1>
          </div>
          <div class="total">
            <h1>Frete</h1>
            {% assign free_shipping_threshold = settings.cart_free_shipping_threshold | times: 100 %}
            {% assign standard_ship = settings.standard_ship %}
            {% assign free_ship_price = 0 %}
            {% case standard_ship %}
              {% when 0 %}
                <h1 id="free-sh">Grátis</h1>
              {% when 1 %}
                {% if cart.total_price >= free_shipping_threshold %}
                  <h1 id="free-sh">Grátis</h1>
                {% else %}
                  {% assign freight_cost = settings.price_simulator_ship_1 | times: 100 %}
                  <h1>{{ freight_cost | money }}</h1>
                {% endif %}
              {% when 2 %}
                {% if cart.total_price >= free_shipping_threshold %}
                  <h1 id="free-sh">Grátis</h1>
                {% else %}
                  {% assign freight_cost = settings.price_simulator_ship | times: 100 %}
                  <h1>{{ freight_cost | money }}</h1>
                {% endif %}
            {% endcase %}
          </div>
        </div>
        <style>
          #cart-drawer > div.v-stack.gap-4.sm\:gap-6 > div > div.total-subtotal > div.total > h1:nth-child(2) {
             font-weight: bold;
             color: {{ settings.ship_primary_color }};
           }
           .subtotal, .total {
             display: flex;
             align-items: center;
             justify-content: space-between;
             text-transform: uppercase;
             color: {{ settings.cart_subtotal_color }};
             font-size: 16px;
           }
           .total {
             padding-bottom: 8px;
           }
           .subtotal {
             margin-top: -8px;
             margin-bottom: 3px;
           }
        </style>
        <hr>
        <div class="h-stack gap-4 justify-between">
          <span class="h5">{{ 'cart.general.total' | t }}</span>
          {% assign free_shipping_threshold = settings.cart_free_shipping_threshold | times: 100 %}
          {% assign standard_ship = settings.standard_ship %}
          {% assign subtotal_in_cents = cart.total_price %}
          {% assign freight_cost = 0 %}
          {% case standard_ship %}
            {% when 0 %}
              {% assign freight_cost = 0 %}
            {% when 1 %}
              {% if subtotal_in_cents < free_shipping_threshold %}
                {% assign freight_cost = settings.price_simulator_ship_1 | times: 100 %}
              {% endif %}
            {% when 2 %}
              {% if subtotal_in_cents < free_shipping_threshold %}
                {% assign freight_cost = settings.price_simulator_ship | times: 100 %}
              {% endif %}
          {% endcase %}
          {% assign total_in_cents = subtotal_in_cents | plus: freight_cost %}
          <span class="h5">{{ total_in_cents | money }}</span>
        </div>
        {%- if section.settings.show_shipping_text -%}
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            <p class="text-subdued text-sm">
              {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
            </p>
          {%- elsif cart.taxes_included -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}</p>
          {%- elsif shop.shipping_policy.body != blank -%}
            <p class="text-subdued text-sm">
              {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
            </p>
          {%- else -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</p>
          {%- endif -%}
        {%- endif -%}
        {%- if section.settings.show_cart_note -%}
          <button type="button" class="justify-self-start" aria-controls="cart-drawer-note">
            <span class="link text-sm text-subdued">
              {%- if cart.note == blank -%}
                {{- 'cart.general.add_order_note' | t -}}
              {%- else -%}
                {{- 'cart.general.edit_order_note' | t -}}
              {%- endif -%}
            </span>
          </button>
          <cart-note-dialog id="cart-drawer-note" class="cart-drawer__note">
            <div class="cart-drawer__note-inner">
              <div class="v-stack gap-4 sm:gap-6">
                <p class="h5">{{ 'cart.general.order_note' | t }}</p>
                <cart-note class="v-stack gap-4">
                  {%- assign order_note = 'cart.general.order_note' | t -%}
                  {%- assign order_save_label = 'cart.general.save_note' | t -%}
                  {%- render 'input', name: 'note', multiline: 3, label: order_note, value: cart.note -%}
                  <div class="justify-self-start">
                    {%- render 'button',
                      type: 'button',
                      content: order_save_label,
                      size: 'lg',
                      is: 'close-button',
                      secondary: true
                    -%}
                  </div>
                </cart-note>
              </div>
            </div>
          </cart-note-dialog>
        {%- endif -%}
      </div>
      <form
        action="{{ routes.cart_url }}"
        method="POST"
        class="buy-buttons desativar-btn-invisivel {% if section.settings.show_checkout_button %}buy-buttons--compact{% endif %}"
      >
        {%- assign checkout_label = 'cart.general.checkout' | t -%}
        {%- if section.settings.show_view_cart_button or section.settings.show_checkout_button == false -%}
          <a
            href="{{ routes.cart_url }}"
            class="button button--xl {% if section.settings.show_checkout_button %}button--secondary{% endif %}"
            data-no-instant
          >
            {{- 'cart.general.view_cart' | t -}}
          </a>
        {%- endif -%}
        {%- if section.settings.show_checkout_button -%}
          {%- render 'button',
            type: 'submit',
            content: checkout_label,
            icon: 'picto-lock',
            name: 'checkout',
            size: 'xl'
          -%}
        {%- endif -%}
      </form>
      <style>
        .desativar-btn-invisivel > button {
          display: none;
        }
        #checkout {
          display: inline-block!important;
        }
      </style>
    </div>
  {%- endif -%}
</cart-drawer>
<script>
    let originalCartDrawerContent = null; 
    document.addEventListener("DOMContentLoaded", () => {
    const cartDrawer = document.getElementById("cart-drawer");
    originalCartDrawerContent = cartDrawer.innerHTML;
  });

  function openCartDrawer(button) {
    const cartDrawerOrigin = button.getAttribute("data-origin");
    const cartDrawer = document.getElementById("cart-drawer");
    cartDrawer.setAttribute("data-origin", cartDrawerOrigin);
    if (cartDrawerOrigin === "more-payments") {
    const ghostPaymentsContent = document.getElementById("ghost-payments-content").innerHTML;
    cartDrawer.innerHTML = `
      <div>
        ${ghostPaymentsContent}
      </div>
  `;
} else {
      cartDrawer.innerHTML = originalCartDrawerContent;
    }
    cartDrawer.classList.add("open");
  }

  function closeCartDrawer() {
    const cartDrawer = document.getElementById("cart-drawer");
    cartDrawer.classList.remove("open");
    cartDrawer.setAttribute("data-origin", "");
    cartDrawer.innerHTML = originalCartDrawerContent;
  }
</script>
{% schema %}
{
  "name": "Gaveta do Carrinho",
  "settings": [
    {
      "type": "paragraph",
      "content": "A gaveta do carrinho não aparecerá para seus clientes se você configurou o tipo de carrinho para Página nas configurações globais do tema."
    },
    {
      "type": "paragraph",
      "content": "O frete progressivo deve ser editado nas configurações globais do tema."
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "Permitir observações",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_text",
      "label": "Informação de frete",
      "info": "Calculado no checkout",
      "default": true
    },
    {
      "type": "header",
      "content": "Botões"
    },
    {
      "type": "checkbox",
      "id": "show_view_cart_button",
      "label": "Ver carrinho",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "Finalizar compra",
      "default": true
    },
    {
      "type": "header",
      "content": "Recomendações de produtos"
    },
    {
      "type": "text",
      "id": "recommendations_title",
      "label": "Título",
      "default": "Tendências deste mês"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Recomendações",
      "info": "Sugira produtos adicionais aos seus clientes.",
      "limit": 10
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Fundo do cartão"
    },
    {
      "type": "color",
      "id": "product_card_text_color",
      "label": "Texto do cartão"
    }
  ]
}
{% endschema %}
