
{%- assign variant_picker_block = section.blocks | where: 'type', 'variant_picker' | first -%}
{%- form 'product', product, is: 'product-form', id: form_id -%}
  <input
    type="hidden"
    {% if variant_picker_block != blank %}
      disabled
    {% endif %}
    name="id"
    value="{{ product.selected_or_first_available_variant.id }}"
  >
  {%- assign button_disabled = false -%}
  {%- assign button_size = button_size | default: 'xl' -%}
  {%- if product.selected_or_first_available_variant.available -%}
    {%- if product.template_suffix contains 'pre-order' -%}
      {%- capture button_content -%}
      {%- if atc_button_text == blank or atc_button_text == 'Texto do botão' -%}
        {{ 'product.general.pre_order_button' | t }}
      {%- else -%}
        {{ atc_button_text }}
      {%- endif -%}
    {%- endcapture -%}
    {%- else -%}
      {%- capture button_content -%}
      {%- if atc_button_text == blank or atc_button_text == 'Texto do botão' -%}
        {{ 'product.general.add_to_cart_button' | t }}
      {%- else -%}
        {{ atc_button_text }}
      {%- endif -%}
    {%- endcapture -%}
    {%- endif -%}
  {%- else -%}
    {%- capture button_content -%}{{ 'product.general.sold_out_button' | t }}{%- endcapture -%}
    {%- assign button_disabled = true -%}
  {%- endif -%}
  <div class="v-stack gap-4">
    <buy-buttons
      class="buy-buttons {% if show_payment_button %}buy-buttons--multiple{% endif %}"
      template="{{ product.template_suffix | escape }}"
      form="{{ form_id }}"
    >
      {%- render 'button',
        content: button_content,
        style: 'fill',
        type: 'submit',
        size: button_size,
        disabled: button_disabled,
        secondary: show_payment_button,
        subdued: button_disabled,
        background: atc_button_background,
        text_color: atc_button_text_color,
        redirect_to_cart: redirect_to_cart
      -%}
    </buy-buttons>
  </div>
{%- endform -%}
