
{%- capture id -%}checkbox-{{ section.id }}-{{ form }}-{{ context }}-{{ name | handle }}-{{ value | handle }}{%- endcapture -%}
<div class="checkbox-container" {{ block.shopify_attributes }}>
  {%- if switch -%}
    <input id="{{ id }}" class="switch" type="{{ type | default: 'checkbox' }}" role="switch" name="{{ name }}" value="{{ value | default: 1 }}" {% if form %}form="{{ form }}"{% endif %} {% if disabled %}disabled{% endif %} {% if required %}required{% endif %} {% if checked %}checked{% endif %}>
  {%- else -%}
    <input id="{{ id }}" class="checkbox" type="{{ type | default: 'checkbox' }}" name="{{ name }}" value="{{ value | default: 1 }}" {% if form %}form="{{ form }}"{% endif %} {% if disabled %}disabled{% endif %} {% if required %}required{% endif %} {% if checked %}checked{% endif %}>
  {%- endif -%}
  {%- if label != blank -%}
    <label for="{{ id }}">{{ label }}</label>
  {%- endif -%}
</div>