<div id="ghost-payments-content" style="display: none;">
  <div class="cart-drawer__top">
    <div class="h-stack items-center justify-between">
      <div class="h-stack grow gap-2 sm:gap-2.5">
        <p class="h5">Formas de pagamento</p>
      </div>
      <button type="button" is="close-button" class="drawer__close-icon" style="z-index: 99;">
        <span class="sr-only">{{ 'general.accessibility.close' | t }}</span>
        {%- render 'icon' with 'close' -%}
      </button>
    </div>
  </div>
  <div>
    <!-- Tab aqui -->
    <div style="margin-bottom: var(--spacing-18);">
      <div>
        <div style="display: flex; flex-direction: row; align-items: center;">
          <button style="border-bottom: 2px solid rgb(var(--text-color)); color: rgb(var(--text-color));" type="button" class="tabs-nav__new-button tabs-nav__button text-subdued text-center">
            {%- render 'icon' with 'picto-credit-card', width: '22px', height: '22px' -%}
            Cartão de crédito
          </button>
          <button type="button" class="tabs-nav__new-button tabs-nav__button text-subdued text-center">
            {%- render 'icon' with 'pix', width: '22px', height: '22px' -%}
            PIX
          </button>
          <button type="button" class="tabs-nav__new-button tabs-nav__button text-subdued text-center">
            {%- render 'icon' with 'barcode', width: '32px', height: '22px' -%}
            Boleto
          </button>
          <style>
            .tabs-nav__new-button {
              width: 100%;
              border-bottom: 2px solid rgb(var(--text-color) / .1);
              padding-top: 0;
              color: rgb(var(--text-color) / .7);
              display: flex;
              flex-direction: row;
              gap: var(--spacing-2);
              justify-content: center;
              align-items: center;
              text-start;
            }
          </style>
        </div>
        <div>
          <div class="tab-content" style="text-align: start">
            <!-- TABELA - INICIO -->
            <div class="prose">
              <table class="table-auto">
                <tbody>
                  <tr>
                    <td>À vista</td>
                    <td>Total de R$ <span id="total-a-vista">{{ product.price | money  }}</span></td>
                  </tr>
                  <tr>
                    <td>2x R$ <span class="total-2x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-2x"></span></td>
                  </tr>
                  <tr>
                    <td>3x R$ <span class="total-3x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-3x"></span></td>
                  </tr>
                  <tr>
                    <td>4x R$ <span class="total-4x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-4x"></span></td>
                  </tr>
                  <tr>
                    <td>5x R$ <span class="total-5x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-5x"></span></td>
                  </tr>
                  <tr>
                    <td>6x R$ <span class="total-6x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-6x"></span></td>
                  </tr>
                  <tr>
                    <td>7x R$ <span class="total-7x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-7x"></span></td>
                  </tr>
                  <tr>
                    <td>8x R$ <span class="total-8x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-8x"></span></td>
                  </tr>
                  <tr>
                    <td>9x R$ <span class="total-9x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-9x"></span></td>
                  </tr>
                  <tr>
                    <td>10x R$ <span class="total-10x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-10x"></span></td>
                  </tr>
                  <tr>
                    <td>11x R$ <span class="total-11x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-11x"></span></td>
                  </tr>
                  <tr>
                    <td>12x R$ <span class="total-12x"></span></td>
                    <td>Total de R$ <span class="total-parcelado-12x"></span></td>
                  </tr>
                </tbody>
              </table>

            </div>
            <!-- TABELA - FIM -->
          </div>
        </div>
      </div>
    </div>
        
    <div class="payment-list__flags">
      <div class="payment-list__items">
        {% assign payment_mode = settings.payment_mode %}
        {% if payment_mode == 'external' %}
          {% if settings.payments_visa %}
            <img src="{{ 'visa.svg' | asset_url }}" alt="Visa" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_mastercard %}
            <img src="{{ 'mastercard.svg' | asset_url }}" alt="Mastercard" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_americanexpress %}
            <img src="{{ 'amex.svg' | asset_url }}" alt="American Express" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_dinnersclub %}
            <img src="{{ 'card-3.svg' | asset_url }}" alt="DinnersClub" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_discovery %}
            <img src="{{ 'discover.svg' | asset_url }}" alt="Discover" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_hipercard %}
            <img src="{{ 'hipercard.svg' | asset_url }}" alt="Hipercard" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_elo %}
            <img src="{{ 'elo.svg' | asset_url }}" alt="Elo" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_pix %}
            <img src="{{ 'pix.svg' | asset_url }}" alt="PIX" width="50px" height="32.5px" loading="lazy">
          {% endif %}
          {% if settings.payments_boleto %}
          <div class="payment-list__item">
            <img class="payment-list__img" height="auto" width="auto" alt="Boleto"
              src="https://cdn.shopify.com/s/files/1/0706/7467/7999/files/boleto.webp?v=1734803427">
          </div>
          {% endif %}
          
        {% elsif payment_mode == 'shopify' %}
        {%- for type in shop.enabled_payment_types -%}
          {{- type | payment_type_svg_tag -}}
        {%- endfor -%}
        {% endif %}
      </div>      
    </div>
  </div>
  <style>
    .payment-list__flags {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgb(var(--background-primary) / .7);
      border-top: 1px solid rgb(var(--text-color) / .12);
      padding: var(--spacing-8);
      -webkit-backdrop-filter: blur(18px);
      backdrop-filter: blur(18px);
    }
  </style>
</div>

<script>
   function toggleModalOn() {
    var cifrao = "R$";
    const precoText = document.querySelector('sale-price').textContent;
    const preco = parseFloat(precoText.replace(/[^\d,]/g, '').replace(',', '.'));
    var formatNumber = function(num) {
        return num.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }
    var preco_a_vista = formatNumber(preco);
    var preco_boleto = formatNumber(preco);
    var preco_pix = preco - (preco * 5/100);
    preco_pix = formatNumber(preco_pix);
    var total_x2 = preco + ((preco * {{ settings.taxa_segunda_parcela }}) / 100);
    var total_x3 = preco + ((preco * {{ settings.taxa_terceira_parcela }}) / 100);
    var total_x4 = preco + ((preco * {{ settings.taxa_quarta_parcela }}) / 100);
    var total_x5 = preco + ((preco * {{ settings.taxa_quinta_parcela }}) / 100);
    var total_x6 = preco + ((preco * {{ settings.taxa_sexta_parcela }}) / 100);
    var total_x7 = preco + ((preco * {{ settings.taxa_setima_parcela }}) / 100);
    var total_x8 = preco + ((preco * {{ settings.taxa_oitava_parcela }}) / 100);
    var total_x9 = preco + ((preco * {{ settings.taxa_nona_parcela }}) / 100);
    var total_x10 = preco + ((preco * {{ settings.taxa_decima_parcela }}) / 100);
    var total_x11 = preco + ((preco * {{ settings.taxa_decima_primeira_parcela }}) / 100);
    var total_x12 = preco + ((preco * {{ settings.taxa_decima_segunda_parcela }}) / 100);
    var x2 = formatNumber(total_x2 / 2);
    var x3 = formatNumber(total_x3 / 3);
    var x4 = formatNumber(total_x4 / 4);
    var x5 = formatNumber(total_x5 / 5);
    var x6 = formatNumber(total_x6 / 6);
    var x7 = formatNumber(total_x7 / 7);
    var x8 = formatNumber(total_x8 / 8);
    var x9 = formatNumber(total_x9 / 9);
    var x10 = formatNumber(total_x10 / 10);
    var x11 = formatNumber(total_x11 / 11);
    var x12 = formatNumber(total_x12 / 12);
    $("#total-a-vista").text(cifrao + ' ' + preco_a_vista);
  
    $(".total-parcelado-2x").text(cifrao + ' ' + formatNumber(total_x2));
    $(".total-parcelado-3x").text(cifrao + ' ' + formatNumber(total_x3));
    $(".total-parcelado-4x").text(cifrao + ' ' + formatNumber(total_x4));
    $(".total-parcelado-5x").text(cifrao + ' ' + formatNumber(total_x5));
    $(".total-parcelado-6x").text(cifrao + ' ' + formatNumber(total_x6));
    $(".total-parcelado-7x").text(cifrao + ' ' + formatNumber(total_x7));
    $(".total-parcelado-8x").text(cifrao + ' ' + formatNumber(total_x8));
    $(".total-parcelado-9x").text(cifrao + ' ' + formatNumber(total_x9));
    $(".total-parcelado-10x").text(cifrao + ' ' + formatNumber(total_x10));
    $(".total-parcelado-11x").text(cifrao + ' ' + formatNumber(total_x11));
    $(".total-parcelado-12x").text(cifrao + ' ' + formatNumber(total_x12));
    $("#total-boleto").text(cifrao + ' ' + preco_a_vista);
    $("#total-pix").text(cifrao + ' ' + preco_pix);
    $(".total-2x").text(cifrao + ' ' + x2);
    $(".total-3x").text(cifrao + ' ' + x3);
    $(".total-4x").text(cifrao + ' ' + x4);
    $(".total-5x").text(cifrao + ' ' + x5);
    $(".total-6x").text(cifrao + ' ' + x6);
    $(".total-7x").text(cifrao + ' ' + x7);
    $(".total-8x").text(cifrao + ' ' + x8);
    $(".total-9x").text(cifrao + ' ' + x9);
    $(".total-10x").text(cifrao + ' ' + x10);
    $(".total-11x").text(cifrao + ' ' + x11);
    $(".total-12x").text(cifrao + ' ' + x12);
}
  </script>