<div class="backdrop-modal-parcel" id="backdrop-modal-parcel" onclick="toggleModal()">
  <style>

.parcelamento-text {
  display: flex;
  text-decoration: underline;
  color: #9698a1;
  line-height: 1.2;
  font-size: 14px;
  margin-top: 4px;
}
  
/*Backdrop*/
.backdrop-modal-parcel {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #33333399;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  transition: all .2s ease-in-out;
}

/*body.active-modal .product-template__container {
  z-index: 11;
  position: relative;
}*/

#modal-open-button:hover {
  text-decoration: underline;
}

body.active-modal .backdrop-modal-parcel {
  display: flex;
  transition: all .2s ease-in-out;
  opacity: 1;
}

.active-modal {
  overflow: hidden;
}

/*Modal*/
@media screen and (min-width: 0px) and (max-width: 280px) {
  .modal-parcel {
    position: relative;
    padding: 24px;
    background: #ffffff;
    max-width: 400px;
    min-width: 400px ;
    cursor: initial;
    font-family: var(--text-font-family);
    border-radius: var(--border-radius-theme);
    box-sizing: border-box;
  }
}
@media screen and (min-width: 285px) {
  .modal-parcel {
    position: relative;
    padding: 24px;
    background: #ffffff;
    max-width: 400px;
    min-width: 400px ;
    height: auto;
    overflow-y: auto;
    cursor: initial;
    font-family: var(--text-font-family);
    border-radius: var(--border-radius-theme);
    box-sizing: border-box;
  }
}
    
@media (max-width: 641px){
  .modal-parcel {
    border-radius: 0;
  }
}
  
.modal-parcel-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.modal-parcel-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(66, 70, 77);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-parcel-payments {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
}

.modal-parcel-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-terciary-parcelamento);
  font-size: 12px;
  padding: 8px;
  gap: 4px;
  flex-basis: 31%;
}

.modal-parcel-payment:hover {
  cursor: pointer;
}

.modal-parcel-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modal-parcel-method {
  display: none;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.modal-parcel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color-secondary-parcelamento);
  overflow-y: overlay;
}

.modal-parcel-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.modal-parcel-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  font-size: 12px;
}

.modal-parcel-list li {
  background: #fff;
}

.modal-parcel-list li:nth-child(odd) {
  background: rgb(242, 243, 244);
}

.modal-parcel-informations {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-parcel-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6px;
}

.modal-parcel-price-cash {
  color: #12B103;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.modal-parcel-price-description {
  font-size: 12px;
  color: var(--color-secondary-parcelamento);
}
.modal-parcel-price-description-pix {
  font-size: 12px;
  color: var(--color-secondary-parcelamento);
}
.modal-parcel-extra {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(86, 92, 105);
  line-height: 1.4;
  font-size: 12px;
  background: #ebedef;
  padding: 12px;
  border-radius: var(--border-radius-theme);
}

.modal-parcel-extra-text {
  flex-basis: 80%;
  width: min-content;
}

.modal-parcel-content input {
  display: none;
}

/*Quando input está marcado o estilo muda, exibindo o conteúdo de acordo com o id*/
#payment-type-1:checked ~ .modal-parcel-payments #label-type-1,
#payment-type-2:checked ~ .modal-parcel-payments #label-type-2,
#payment-type-3:checked ~ .modal-parcel-payments #label-type-3 {
  color: #12b103;
  --color-active-parcelamento: #12B103;
  border-bottom: 2px solid #12b103;
}

/*Qunado determinado input esta marcado, uma determinada div recebe display flex*/
#payment-type-1:checked ~ .card-method {
  display: flex !important;
}

#payment-type-2:checked ~ .pix-method {
  display: flex !important;
}

#payment-type-3:checked ~ .boleto-method {
  display: flex !important;
}
</style>
        <div class="modal-parcel" id="modal-parcel">
            <div class="modal-parcel-content">

                <!--Botao de fechar modal-->
                <div class="modal-close-button" id="modal-close-button">
                    <button onclick="toggleModal()"><i style="width: 45px;" class="fa fa-xmark"></i></button>
                </div>

                <div class="modal-parcel-title">
                    {{ 'collection.popup_options_payment.options_payments' | t }}
                </div>

                <input name="payment" type="radio" id="payment-type-1" checked="">
                <input name="payment" type="radio" id="payment-type-2">
                <input name="payment" type="radio" id="payment-type-3">

                <div class="modal-parcel-payments">

                    <!--Botão Cartão-->
                    <label class="modal-parcel-payment" for="payment-type-1" id="label-type-1">
                        <i style="font-size: 16px;" class="fa-solid fa-credit-card"></i>
                        <span style="line-height: 1.4;">
                          {{ 'collection.popup_options_payment.met_credit_card' | t }}
                        </span>
                    </label>

                    <!--Botão PIX-->
                    
                    <label class="modal-parcel-payment" for="payment-type-2" id="label-type-2">
                        <i style="font-size: 16px;" class="fa-brands fa-pix"></i>
                        <span style="line-height: 1.4;">
                            {{ 'collection.popup_options_payment.met_pix' | t }}
                        </span>
                    </label>
                    

                    <!--Botão Boleto-->
                    
                    <label class="modal-parcel-payment" for="payment-type-3" id="label-type-3">
                        <i style="font-size: 16px;" class="fa fa-barcode"></i>
                        <span style="line-height: 1.4;">
                            {{ 'collection.popup_options_payment.met_boleto' | t }}
                        </span>
                    </label>
                    
                </div>


                <!--Conteudo - cartao de credito-->
                <div class="modal-parcel-method card-method">

                    <ul class="modal-parcel-list">
                        <li class="modal-parcel-list-item">
                            <span>{{ 'collection.popup_options_payment.a_vista' | t }}</span>    
                            <span>{{ 'collection.popup_options_payment.total' | t }} <span id="total-a-vista"></span></span>
                        </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    2x 
                                    <span class="total-2x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-2x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    3x 
                                    <span class="total-3x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-3x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    4x 
                                    <span class="total-4x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-4x"></span></span>
                            </li>
                        
                            <li class="modal-parcel-list-item">
                                <span>
                                    5x 
                                    <span class="total-5x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-5x"></span></span>
                            </li>
                  
                            <li class="modal-parcel-list-item">
                                <span>
                                    6x 
                                    <span class="total-6x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-6x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    7x 
                                    <span class="total-7x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-7x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    8x 
                                    <span class="total-8x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-8x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    9x 
                                    <span class="total-9x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-9x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    10x 
                                    <span class="total-10x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-10x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    11x 
                                    <span class="total-11x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-11x"></span></span>
                            </li>

                            <li class="modal-parcel-list-item">
                                <span>
                                    12x 
                                    <span class="total-12x"></span>
                                </span>
                                <span>{{ 'collection.popup_options_payment.total' | t }} <span class="total-parcelado-12x"></span></span>
                            </li>
                    </ul>

                    <div class="modal-parcel-cards-wrapper">
                        <div>
                            {{ 'collection.popup_options_payment.accept' | t }}
                        </div>
                        <div class="modal-parcel-cards">
                            <div class="payment-list list-unstyled d-flex justify-content-center" style="padding: 0; top: 0;">
                                <img class="payment-list__item" src="//cdn.shopify.com/s/files/1/0590/0963/0400/t/4/assets/amex.svg?v=4820021115096198109" alt="American Express">
                                <img class="payment-list__item" src="//cdn.shopify.com/s/files/1/0590/0963/0400/t/4/assets/boleto.svg?v=14312488300961080651" alt="Boleto">
                                <img class="payment-list__item" src="//cdn.shopify.com/s/files/1/0590/0963/0400/t/4/assets/mastercard.svg?v=5325054530245235231" alt="Mastercard">
                                <img class="payment-list__item" src="//cdn.shopify.com/s/files/1/0590/0963/0400/t/4/assets/visa.svg?v=4363052815883027950" alt="Visa">
                                <img class="payment-list__item" src="//cdn.shopify.com/s/files/1/0590/0963/0400/t/4/assets/elo.svg?v=16013123390887651456" alt="Elo">
                                <img class="payment-list__item" src="//cdn.shopify.com/s/files/1/0590/0963/0400/t/4/assets/icon-pix.png?v=7952458606773305251" alt="PIX">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Conteudo - PIX-->
                
                <div class="modal-parcel-method pix-method">
                    <div class="modal-parcel-informations">
                        <div class="modal-parcel-pricing">

                          {% assign pix = selected_variant.price | times: settings.percent_pix_discount %}
                          {% assign pix = pix | divided_by: 100 %}
                          {% assign pix = selected_variant.price | minus: pix %}
                          
                            <div class="modal-parcel-price-cash">
                                <span id="total-pix"></span>
                            </div>
                            <div class="modal-parcel-price-description-pix">
                                {{ 'collection.popup_options_payment.a_vista_pix' | t }} <strong>{{ settings.percent_pix_discount }}% OFF</strong>
                            </div>
                        </div>

                        <div class="modal-parcel-extra">
                            <svg style="display: none" width="24" height="24" viewBox="0 0 36 36" fill="none" xmlns="https://www.w3.org/2000/svg">
                                <g>
                                    <path d="M5.14282 27.6426H7.71489V29.5712H5.14282V27.6426Z" fill="#12B103">
                                    </path>
                                    <path d="M28.9286 21.8574C27.53 21.8574 26.1628 22.2722 24.9999 23.0492C23.837 23.8262 22.9307 24.9306 22.3955 26.2227C21.8602 27.5149 21.7202 28.9367 21.9931 30.3084C22.2659 31.6801 22.9394 32.9401 23.9284 33.9291C24.9173 34.918 26.1773 35.5915 27.549 35.8644C28.9208 36.1372 30.3426 35.9972 31.6347 35.462C32.9268 34.9268 34.0312 34.0204 34.8083 32.8575C35.5853 31.6946 36 30.3274 36 28.9288C35.9978 27.0541 35.2521 25.2567 33.9264 23.931C32.6007 22.6054 30.8034 21.8596 28.9286 21.8574ZM33.552 27.143L28.0974 32.5976C27.9768 32.7181 27.8133 32.7858 27.6429 32.7858C27.4724 32.7858 27.3089 32.7181 27.1884 32.5976L24.4614 29.87C24.3443 29.7487 24.2795 29.5863 24.281 29.4178C24.2824 29.2492 24.35 29.088 24.4692 28.9688C24.5884 28.8496 24.7497 28.782 24.9182 28.7805C25.0868 28.7791 25.2491 28.8439 25.3704 28.961L27.6429 31.2341L32.643 26.234C32.7643 26.1169 32.9267 26.0521 33.0952 26.0536C33.2638 26.055 33.425 26.1226 33.5442 26.2418C33.6634 26.361 33.731 26.5222 33.7325 26.6908C33.7339 26.8594 33.6691 27.0217 33.552 27.143Z" fill="#12B103">
                                    </path>
                                    <path d="M12.8572 16.0723H15.4292V18.0008H12.8572V16.0723Z" fill="#12B103">
                                    </path>
                                    <path d="M20.5714 16.0723H23.1428V18.0008H20.5714V16.0723Z" fill="#12B103">
                                    </path>
                                    <path d="M5.14282 21.8574H7.71489V23.786H5.14282V21.8574Z" fill="#12B103">
                                    </path>
                                    <path d="M12.8572 21.8574H15.4292V23.786H12.8572V21.8574Z" fill="#12B103">
                                    </path>
                                    <path d="M5.14282 16.0723H7.71489V18.0008H5.14282V16.0723Z" fill="#12B103">
                                    </path>
                                    <path d="M7.7143 6.42857C8.05498 6.42755 8.38142 6.29177 8.62232 6.05087C8.86322 5.80997 8.999 5.48354 9.00002 5.14286V1.28571C9.00002 0.944722 8.86456 0.617695 8.62344 0.376577C8.38232 0.135459 8.0553 0 7.7143 0C7.37331 0 7.04628 0.135459 6.80517 0.376577C6.56405 0.617695 6.42859 0.944722 6.42859 1.28571V5.14286C6.42961 5.48354 6.56539 5.80997 6.80629 6.05087C7.04719 6.29177 7.37362 6.42755 7.7143 6.42857Z" fill="#12B103">
                                    </path>
                                    <path d="M17.9999 6.42857C18.3406 6.42755 18.6671 6.29177 18.908 6.05087C19.1489 5.80997 19.2846 5.48354 19.2857 5.14286V1.28571C19.2857 0.944722 19.1502 0.617695 18.9091 0.376577C18.668 0.135459 18.3409 0 17.9999 0C17.659 0 17.3319 0.135459 17.0908 0.376577C16.8497 0.617695 16.7142 0.944722 16.7142 1.28571V5.14286C16.7153 5.48354 16.851 5.80997 17.0919 6.05087C17.3328 6.29177 17.6593 6.42755 17.9999 6.42857Z" fill="#12B103">
                                    </path>
                                    <path d="M28.2857 6.42857C28.6264 6.42755 28.9528 6.29177 29.1937 6.05087C29.4346 5.80997 29.5704 5.48354 29.5714 5.14286V1.28571C29.5714 0.944722 29.436 0.617695 29.1949 0.376577C28.9537 0.135459 28.6267 0 28.2857 0C27.9447 0 27.6177 0.135459 27.3766 0.376577C27.1355 0.617695 27 0.944722 27 1.28571V5.14286C27.001 5.48354 27.1368 5.80997 27.3777 6.05087C27.6186 6.29177 27.945 6.42755 28.2857 6.42857Z" fill="#12B103">
                                    </path>
                                    <path d="M28.2858 16.0723H30.8572V18.0008H28.2858V16.0723Z" fill="#12B103">
                                    </path>
                                    <path d="M34.0714 3.85742H30.8571V5.14314C30.8571 5.82512 30.5862 6.47917 30.104 6.96141C29.6218 7.44365 28.9677 7.71456 28.2857 7.71456C27.6037 7.71456 26.9497 7.44365 26.4674 6.96141C25.9852 6.47917 25.7143 5.82512 25.7143 5.14314V3.85742H20.5714V5.14314C20.5714 5.82512 20.3005 6.47917 19.8183 6.96141C19.336 7.44365 18.682 7.71456 18 7.71456C17.318 7.71456 16.664 7.44365 16.1817 6.96141C15.6995 6.47917 15.4286 5.82512 15.4286 5.14314V3.85742H10.2857V5.14314C10.2857 5.82512 10.0148 6.47917 9.53256 6.96141C9.05032 7.44365 8.39627 7.71456 7.71429 7.71456C7.0323 7.71456 6.37825 7.44365 5.89601 6.96141C5.41377 6.47917 5.14286 5.82512 5.14286 5.14314V3.85742H1.92857C1.41755 3.85895 0.927899 4.06263 0.566552 4.42397C0.205205 4.78532 0.0015262 5.27497 0 5.78599V10.286H36V5.78599C35.9985 5.27497 35.7948 4.78532 35.4334 4.42397C35.0721 4.06263 34.5824 3.85895 34.0714 3.85742Z" fill="#12B103">
                                    </path>
                                    <path d="M12.8572 27.6426H15.4292V29.5712H12.8572V27.6426Z" fill="#12B103">
                                    </path>
                                    <path d="M0 11.5723V31.5008C0.0015262 32.0119 0.205205 32.5015 0.566552 32.8629C0.927899 33.2242 1.41755 33.4279 1.92857 33.4294H21.8976C21.3109 32.5034 20.9123 31.471 20.7246 30.3909C20.5369 29.3109 20.5637 28.2045 20.8036 27.1349C21.0435 26.0652 21.4917 25.0533 22.1227 24.1569C22.7536 23.2605 23.555 22.4971 24.481 21.9104C25.4069 21.3236 26.4394 20.925 27.5194 20.7373C28.5994 20.5496 29.7059 20.5765 30.7755 20.8164C31.8451 21.0562 32.8571 21.5045 33.7535 22.1354C34.6499 22.7664 35.4133 23.5677 36 24.4937V11.5723H0ZM9 29.5723C9 29.9133 8.86454 30.2403 8.62342 30.4814C8.3823 30.7225 8.05528 30.858 7.71429 30.858H5.14286C4.80186 30.858 4.47484 30.7225 4.23372 30.4814C3.9926 30.2403 3.85714 29.9133 3.85714 29.5723V27.6437C3.85714 27.3027 3.9926 26.9757 4.23372 26.7346C4.47484 26.4934 4.80186 26.358 5.14286 26.358H7.71429C8.05528 26.358 8.3823 26.4934 8.62342 26.7346C8.86454 26.9757 9 27.3027 9 27.6437V29.5723ZM9 23.7866C9 24.1275 8.86454 24.4546 8.62342 24.6957C8.3823 24.9368 8.05528 25.0723 7.71429 25.0723H5.14286C4.80186 25.0723 4.47484 24.9368 4.23372 24.6957C3.9926 24.4546 3.85714 24.1275 3.85714 23.7866V21.858C3.85714 21.517 3.9926 21.19 4.23372 20.9488C4.47484 20.7077 4.80186 20.5723 5.14286 20.5723H7.71429C8.05528 20.5723 8.3823 20.7077 8.62342 20.9488C8.86454 21.19 9 21.517 9 21.858V23.7866ZM9 18.0008C9 18.3418 8.86454 18.6689 8.62342 18.91C8.3823 19.1511 8.05528 19.2866 7.71429 19.2866H5.14286C4.80186 19.2866 4.47484 19.1511 4.23372 18.91C3.9926 18.6689 3.85714 18.3418 3.85714 18.0008V16.0723C3.85714 15.7313 3.9926 15.4042 4.23372 15.1631C4.47484 14.922 4.80186 14.7866 5.14286 14.7866H7.71429C8.05528 14.7866 8.3823 14.922 8.62342 15.1631C8.86454 15.4042 9 15.7313 9 16.0723V18.0008ZM16.7143 29.5723C16.7143 29.9133 16.5788 30.2403 16.3377 30.4814C16.0966 30.7225 15.7696 30.858 15.4286 30.858H12.8571C12.5162 30.858 12.1891 30.7225 11.948 30.4814C11.7069 30.2403 11.5714 29.9133 11.5714 29.5723V27.6437C11.5714 27.3027 11.7069 26.9757 11.948 26.7346C12.1891 26.4934 12.5162 26.358 12.8571 26.358H15.4286C15.7696 26.358 16.0966 26.4934 16.3377 26.7346C16.5788 26.9757 16.7143 27.3027 16.7143 27.6437V29.5723ZM16.7143 23.7866C16.7143 24.1275 16.5788 24.4546 16.3377 24.6957C16.0966 24.9368 15.7696 25.0723 15.4286 25.0723H12.8571C12.5162 25.0723 12.1891 24.9368 11.948 24.6957C11.7069 24.4546 11.5714 24.1275 11.5714 23.7866V21.858C11.5714 21.517 11.7069 21.19 11.948 20.9488C12.1891 20.7077 12.5162 20.5723 12.8571 20.5723H15.4286C15.7696 20.5723 16.0966 20.7077 16.3377 20.9488C16.5788 21.19 16.7143 21.517 16.7143 21.858V23.7866ZM16.7143 18.0008C16.7143 18.3418 16.5788 18.6689 16.3377 18.91C16.0966 19.1511 15.7696 19.2866 15.4286 19.2866H12.8571C12.5162 19.2866 12.1891 19.1511 11.948 18.91C11.7069 18.6689 11.5714 18.3418 11.5714 18.0008V16.0723C11.5714 15.7313 11.7069 15.4042 11.948 15.1631C12.1891 14.922 12.5162 14.7866 12.8571 14.7866H15.4286C15.7696 14.7866 16.0966 14.922 16.3377 15.1631C16.5788 15.4042 16.7143 15.7313 16.7143 16.0723V18.0008ZM23.1429 21.858H20.5714V23.7866C20.7419 23.7866 20.9054 23.8543 21.026 23.9748C21.1466 24.0954 21.2143 24.2589 21.2143 24.4294C21.2143 24.5999 21.1466 24.7634 21.026 24.884C20.9054 25.0045 20.7419 25.0723 20.5714 25.0723C20.2304 25.0723 19.9034 24.9368 19.6623 24.6957C19.4212 24.4546 19.2857 24.1275 19.2857 23.7866V21.858C19.2857 21.517 19.4212 21.19 19.6623 20.9488C19.9034 20.7077 20.2304 20.5723 20.5714 20.5723H23.1429C23.3134 20.5723 23.4769 20.64 23.5974 20.7606C23.718 20.8811 23.7857 21.0446 23.7857 21.2151C23.7857 21.3856 23.718 21.5491 23.5974 21.6697C23.4769 21.7902 23.3134 21.858 23.1429 21.858ZM24.4286 18.0008C24.4286 18.3418 24.2931 18.6689 24.052 18.91C23.8109 19.1511 23.4838 19.2866 23.1429 19.2866H20.5714C20.2304 19.2866 19.9034 19.1511 19.6623 18.91C19.4212 18.6689 19.2857 18.3418 19.2857 18.0008V16.0723C19.2857 15.7313 19.4212 15.4042 19.6623 15.1631C19.9034 14.922 20.2304 14.7866 20.5714 14.7866H23.1429C23.4838 14.7866 23.8109 14.922 24.052 15.1631C24.2931 15.4042 24.4286 15.7313 24.4286 16.0723V18.0008ZM32.1429 18.0008C32.1429 18.3418 32.0074 18.6689 31.7663 18.91C31.5252 19.1511 31.1981 19.2866 30.8571 19.2866H28.2857C27.9447 19.2866 27.6177 19.1511 27.3766 18.91C27.1355 18.6689 27 18.3418 27 18.0008V16.0723C27 15.7313 27.1355 15.4042 27.3766 15.1631C27.6177 14.922 27.9447 14.7866 28.2857 14.7866H30.8571C31.1981 14.7866 31.5252 14.922 31.7663 15.1631C32.0074 15.4042 32.1429 15.7313 32.1429 16.0723V18.0008Z" fill="#12B103">
                                    </path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="36" height="36" fill="white">

                                        </rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            <svg color="#12B103" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                            <div class="modal-parcel-extra-text">
                                {{ 'collection.popup_options_payment.attention_pix' | t }}
                            </div>
                        </div>
                    </div>
                </div>
                

                <!--Conteudo - Boleto-->
                
                <div class="modal-parcel-method boleto-method">
                    <div class="modal-parcel-informations">
                        <div class="modal-parcel-pricing">
                            
                            <div class="modal-parcel-price-cash">
                                <span id="total-boleto"> <span id="total-boleto"></span>
                            </span></div>
                            <div class="modal-parcel-price-description">
                               {{ 'collection.popup_options_payment.a_vista_boleto' | t }} 
                            </div>
                        </div>

                        <div class="modal-parcel-extra">
                            <svg color="#12B103" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                            <div class="modal-parcel-extra-text">
                                {{ 'collection.popup_options_payment.attention_boleto' | t }} 
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
  <script>
    function toggleModal() {                
                  document.querySelector("body").classList.toggle("active-modal");
                 var index = $(".product-form__info-item .price--highlight").text().split('$');
                  var currency = Shopify.currency.active;

                  if (currency == "USD") {
                    var preco = parseFloat(index[1].trim().replace('.',','));
                    var cifrao = "$";
                  } else if (currency == "BRL") {
                    var preco = parseFloat(index[1].trim().replace('.','').replace(',','.'));
                    var cifrao = "R$";
                  }
                
                var preco_a_vista = preco.toFixed(2).toString().replace('.', ',');
                var preco_boleto = preco.toFixed(2).toString().replace('.', ',');
                var preco_pix = preco - (preco * {{ settings.percent_pix_discount }}/100);
                preco_pix = preco_pix.toFixed(2).toString().replace('.', ',');

                var total_x2 = (preco+((preco*{{ settings.juros_2x }})/100));
                var total_x3 = (preco+((preco*{{ settings.juros_3x }})/100));
                var total_x4 = (preco+((preco*{{ settings.juros_4x }})/100));
                var total_x5 = (preco+((preco*{{ settings.juros_5x }})/100));
                var total_x6 = (preco+((preco*{{ settings.juros_6x }})/100));
                var total_x7 = (preco+((preco*{{ settings.juros_7x }})/100));
                var total_x8 = (preco+((preco*{{ settings.juros_8x }})/100));
                var total_x9 = (preco+((preco*{{ settings.juros_9x }})/100));
                var total_x10 = (preco+((preco*{{ settings.juros_10x }})/100));
                var total_x11 = (preco+((preco*{{ settings.juros_11x }})/100));
                var total_x12 = (preco+((preco*{{ settings.juros_12x }})/100));

                var x2 = (total_x2/2).toFixed(2).toString().replace('.', ',');
                var x3 = (total_x3/3).toFixed(2).toString().replace('.', ',');
                var x4 = (total_x4/4).toFixed(2).toString().replace('.', ',');
                var x5 = (total_x5/5).toFixed(2).toString().replace('.', ',');
                var x6 = (total_x6/6).toFixed(2).toString().replace('.', ',');
                var x7 = (total_x7/7).toFixed(2).toString().replace('.', ',');
                var x8 = (total_x8/8).toFixed(2).toString().replace('.', ',');
                var x9 = (total_x9/9).toFixed(2).toString().replace('.', ',');
                var x10 = (total_x10/10).toFixed(2).toString().replace('.', ',');
                var x11 = (total_x11/11).toFixed(2).toString().replace('.', ',');
                var x12 = (total_x12/12).toFixed(2).toString().replace('.', ',');
                
                $("#total-a-vista").text(cifrao+ ' ' + preco_a_vista);
                $(".total-a-vista").text(cifrao+ ' ' + preco_a_vista);
                $(".total-parcelado-2x").text(cifrao+ ' ' + total_x2.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-3x").text(cifrao+ ' ' + total_x3.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-4x").text(cifrao+ ' ' + total_x4.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-5x").text(cifrao+ ' ' + total_x5.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-6x").text(cifrao+ ' ' + total_x6.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-7x").text(cifrao+ ' ' + total_x7.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-8x").text(cifrao+ ' ' + total_x8.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-9x").text(cifrao+ ' ' + total_x9.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-10x").text(cifrao+ ' ' + total_x10.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-11x").text(cifrao+ ' ' + total_x11.toFixed(2).toString().replace('.', ','));
                $(".total-parcelado-12x").text(cifrao+ ' ' + total_x12.toFixed(2).toString().replace('.', ','));
                $("#total-boleto").text(cifrao+ ' ' + preco_a_vista);
                $("#total-pix").text(cifrao+ ' ' + preco_pix);
                $(".total-2x").text(cifrao+ ' ' + x2);
                $(".total-3x").text(cifrao+ ' ' + x3);
                $(".total-4x").text(cifrao+ ' ' + x4);
                $(".total-5x").text(cifrao+ ' ' + x5);
                $(".total-6x").text(cifrao+ ' ' + x6);
                $(".total-7x").text(cifrao+ ' ' + x7);
                $(".total-8x").text(cifrao+ ' ' + x8);
                $(".total-9x").text(cifrao+ ' ' + x9);
                $(".total-10x").text(cifrao+ ' ' + x10);
                $(".total-11x").text(cifrao+ ' ' + x11);
                $(".total-12x").text(cifrao+ ' ' + x12);
              }
  </script>
    </div>